# Android
# Gradle local caches
.gradle/
**/.gradle/
# Explicit path for example app
example/android/.gradle/
example/android/app/.gradle/
android/build/
android/app/build/
android/app/src/debug/
android/app/src/release/
android/app/src/profile/
android/app/src/main/res/**/*.webp
android/local.properties
android/.cxx/
android/gradle/build*/

android/app/src/main/res/mipmap-*/*.webp
android/app/src/main/res/drawable*/splashscreen*.*
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher*.*
*.webp
*.png


# iOS
ios/Pods/
ios/build/
ios/DerivedData/
